---
import Default from '@astrojs/starlight/components/PageTitle.astro'
import { Aside } from '@astrojs/starlight/components'
---

<Aside>
  This is documentation for <strong>Alpha v1000</strong>. For v3 documentation
  please visit <a href="https://v3.reatom.dev">v3.reatom.dev</a>.
</Aside>
<Default>
  <slot />
</Default>
